# Kopia ity fichier ity ho .env (ao anaty client/) ary ovay araka ny tenanao.

# Adiresin'ny API backend
VITE_API_URL=http://localhost:5000/api

# Adiresin'ny server (fampiasana amin'ny sary/uploads)
VITE_SERVER_URL=http://localhost:5000

# Lien mankany amin'ny page Facebook tena izy an'ny LogementMad
VITE_FACEBOOK_URL=https://facebook.com/logementmad.fianarantsoa
